<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class="commenter">
            {{user.username}} on {{format_date created_at}}
        </div>
        <div contentEditable="true">
            {{comment_text}}
        </div>
        <button class="comment-save">Save Changes</button>

    </section>
    {{/each}}
</div>