<div class="comments">
    {{#each this}}
        {{#unless loggedIn}}
            <section class="comment">
                <div class="commenter">
                    {{user.username}} on {{format_date created_at}}
                </div>
                <div id="editable-comment" contentEditable="false">
                    {{comment_text}}
                </div>
            </section>
        {{/unless}}
    {{/each}}
</div>