<div class="comments">
    {{#each this.comments}}
        <form id="edit-comment-form" class="comment">
            <div class="commenter">
                {{user.username}} on {{format_date created_at}}
            </div>
            <div id="editable-comment" contentEditable="true">
                {{comment_text}}
            </div>
            <input id="comment-id" type= "hidden" value="{{id}}"/>
            <button type='submit' class="comment-save">Save Changes</button> <button type='delete' class="comment-delete">Delete</button>
        </form>
    {{/each}}
</div>

<script src="/javascript/comment-edit.js"></script>
<script src="/javascript/delete-comment.js"></script>