<section class='post-section'>
    <h2>Create New Post</h2>

    <form action="/dashboard/" class="new-post-form" method="POST" enctype="multipart/form-data">
        <div>
            <label for="title">Name</label>
            <input type="text" id="title" name="title" onBlur='requiredField(this)'/>
        </div>
        <div>
            <label for="birthDate">Birth Date</label>
            <input type="date" id="birthDate" name="birthDate" onBlur='requiredField(this)'/>
        </div>
        <div>
            <label for="passingDate">Date of Passing</label>
            <input type="date" id="passingDate" name="passingDate" onBlur='requiredField(this)'/>
        </div>
        <div> 
            <label for="image">Please Upload a Photo</label>
            <input id='photo' class='file-input' type="file" name="avatar" accept="image/*" value="../public/images/default_image.png" onBlur='requiredField(this)'/>
        </div>
        <div>
            <label for="body">What would you like to say about them?</label>
            <textarea id="body" name="body" onBlur='requiredField(this)'></textarea>
        </div>
        <button type="submit" class="btn" onClick="window.location.reload(true)" id='create-button' disabled='true'>Create</button>
    </form>
</section>

{{#if posts.length}}
<section class='your-posts'>
    <h2 id='section-head'>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li class='existing-post'>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>