<section class='post-section'>
    <h2>Create New Post</h2>

    <form action="/dashboard/" class="new-post-form" method="POST" enctype="multipart/form-data">
        <div>
            <label for="post-title">Name</label>
            <input type="text" id="post-title" name="post-title" />
        </div>
        <div>
            <label for="birth-date">Birth Date</label>
            <input type="date" id="birth-date" name="birth-date" />
        </div>
        <div>
            <label for="passing-date">Date of Passing</label>
            <input type="date" id="passing-date" name="passing-date" />
        </div>
        <div>
            <label for="image">Please Upload a Photo</label>
            <input class='file-input' type="file" name="avatar" accept="image/*" />
        </div>
        <div>
            <label for="post-body">What would you like to say about them?</label>
            <textarea id="post-body" name="post-body"></textarea>
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>

{{#if posts.length}}
<section class='your-posts'>
    <h2 id='section-head'>Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li class='existing-post'>
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

{{!-- <script src="/javascript/add-post.js"></script> --}}