{{> single-post post}}

{{#if loggedIn}}
    <form class="comment-form">
        <div class='comment-header'>Other Memories</div>
        <div>
            <textarea name="comment-body" id="Comment-Body"></textarea>
        </div>

        <div>
            <button type="submit" class='btn' id="submitPost-btn">Submit</button>
        </div>
    </form>
    {{> edit-comments post}}
{{else}}
{{> comments post.comments}}
{{/if}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/comment-edit.js"></script>
{{/if}}