@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');

.comment-form {
background-color: aqua;
border: solid black 3px;
}

#Comment-Body {
border: black solid 1px;
}

#submitPost-btn.zoom:hover {
    transform: scale(1.5); 
}