@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');

:root {
    --green: #687864;
    --dark: #31708E;
    --mid: #5085A5;
    --light: #8FC1E3;
    --white: #F7F9FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

title {
    color: transparent;
}

body,
html {
    background-image: url('../images/pink-background.jpg');
    background-size: 66%;
    background-position: fixed;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Upright', serif;
}

a {
    color: black;
    text-decoration: none;
    transition: color .1s;
    cursor: pointer;
    font-size: 2rem;
}

ul,
li {
    list-style: none;
}

button {
    background-color: var(--dark);
    padding: .5rem;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: var(--light);
}

.post-list {
    margin: .5rem;
    padding: 0;
}

textarea {
    width: 100%;
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid var(--light);
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
    color: var(--dark);
    text-shadow: 0 0 .5px black;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border: none;
}

nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: .5rem;
}

.page-header {
    width: 100%;
    font-size: 10rem;
    border: none;
    display: block;
    margin: 0;
    padding: .5rem 1%;
    color: var(--dark);
    text-shadow: 0 0 2px var(--white);
    text-align: center;
}

.comment-header {
    width: 100%;
    font-size: 6rem;
    border: none;
    display: block;
    margin: 0;
    padding: .5rem 1%;
    color: var(--dark);
    text-shadow: 0 0 2px var(--white);
    text-align: center;
}

main {
    padding: 2% 4%;
    border: 1px solid var(--white);
    margin: 2rem;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.intro {
    text-align: center;
    font-size: 3rem;
    color: var(--dark);
    text-shadow: 0 0 1px black, 0 0 2px var(--light), 0 0 4px var(--white);
}

footer {
    width: 100%;
    font-size: 5rem;
    border: none;
    display: block;
    margin: 0;
    padding: .5rem 1%;
    color: var(--dark);
    text-shadow: 0 0 2px var(--white);
    text-align: center;
}

.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 4rem;
    font-weight: bold;
    transition: color .1s;
    color: var(--dark);
    text-shadow: 0 0 2px var(--white);
}

.btn:hover {
    background: none;
}

.save-btn {
    margin-right: 4%;
}

.home-post {
    width: 23%;
    display: inline-block;
}

.card {
    width: 100%;
    display: inline-block;
    border: .2rem solid var(--mid);
    margin-left: 0;
    box-shadow: 0 0 10px var(--light);
    border-radius: 5px;
    cursor: pointer;
}

.card img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: .2rem solid var(--dark);
}

.title {
    background-color: var(--light);
    margin: 0;
    /* padding: .5rem; */
    font-size: 100%;
    color: var(--white);
    text-align: center;
    text-size-adjust: auto;
}

.card-text {
    background-color: var(--light);
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
}

.title span {
    float: right;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.comment-form {
    width: 100%;
    margin-bottom: 5%;
}

.comment-form textarea {
    width: 100%;
}

.comment-form button {
    width: 100%;
    font-size: x-large;
}

.comments {
    width: 100%;
}

.comment {
    width: 100%;
    font-size: 2rem;
    padding: 1%;
    margin-bottom: 1%;
    background-color: var(--light);
    border: 1px solid var(--dark);
    white-space: pre-line;
    box-shadow: 0 0 4px var(--white);

}

.commenter {
    white-space: normal;
    color: var(--white);
    font-size: 2.5rem;

}

.post-section {
    float: left;
    width: 70%;
    border: .2rem solid var(--dark);
    align-items: center;
}

.post-section h2 {
    text-align: center;
    font-size: 4rem;
    background: var(--mid);
    margin: 0;
    color: var(--light);
    -webkit-text-stroke: .5px var(--white);
    border-bottom: 2px solid var(--white);
}

.new-post-form {
    padding: 1rem;
    display: inline-block;
}

label {
    font-size: 4rem;
    text-shadow: 0 0 1px var(--white);
}

#section-head {
    text-align: center;
    margin: 0 0 1rem 0;
    padding: .5rem;
    color: var(--dark);
    text-emphasis: stroke;
    font-weight: bold;
    text-shadow: 0 0 1px var(--white);
}

.your-posts {
    width: 30%;
    display: inline-block;
    padding-left: 1%;
}

.edit-box {
    width: 100%;
}

.edit-post-form {
    margin-bottom: 5%;
    width: 100%;
}

.back-button {
    color: black;
}

.file-input {
    max-width: 100%;
    overflow: hidden;
}

.single-photo-box {
    width: 25%;
    height: 100%;
    border: 2px solid var(--dark);
    display: inline-block;
}

.single-photo {
    width: 100%;
}

.single-post-box {
    width: 75%;
}

.single-title {
    width: 100%;
    text-align: center;
    font-size: 6rem;
    margin: 0;
    color: var(--light);
    -webkit-text-stroke: .5px var(--white);
}

.single-dates {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 2px var(--light);
    font-weight: bold;
}

.single-content {
    width: 100%;
    font-size: 2.5rem;
    color: var(--white);
    margin: 2%;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

@media screen and (max-width: 575px) {
    .page-header {
        font-size: 8rem;
    }

    .home-post {
        width: 100%;
        margin-bottom: 2%;
    }

    .post-section {
        float: left;
        width: 100%;
        border: .2rem solid var(--dark);
        align-items: center;
    }

    .your-posts {
        width: 100%;
        display: inline-block;
        padding-left: 1%;
    }

    .single-photo-box, .single-post-box {
        width: 100%;
    

}