@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300&display=swap');

:root {
    --green: #687864;
    --dark: #31708E;
    --mid: #5085A5;
    --light: #8FC1E3;
    --white: #F7F9FB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

title {
    color: transparent;
}

body,
html {
    background-image: url('../images/twead.jpg');
    background-size: 15%;
    background-position: fixed;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
    font-family: 'Cormorant Upright', serif;
}

a {
    text-decoration: none;
    transition: color .1s;
    cursor: pointer;
}

ul {
    list-style: none;
}

button {
    background-color: #225ca3;
    padding: .5rem;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #3486eb;
}

/* #logout {
    float: right;
    margin-right: 15rem;
}

#home {
    margin-left: 16rem;
}

#dashboard {
    margin-left: 4rem;
} */

.post-list {
    margin: .5rem;
    padding: 0;
}

textarea,
input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid blue;
}

textarea:focus,
input:focus {
    outline: none;
    border: 1px solid #3486eb;
}

textarea {
    min-width: 40%;
    min-height: 100px;
}

form>div {
    margin-bottom: 2%;
}

form label {
    display: block;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border: none;
}

nav {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    margin-bottom: .5rem;
}

.page-header {
    width: 100%;
    font-size: 6rem;
    border: none;
    display: block;
    margin: 0;
    padding: .5rem 1%;
    color: var(--dark);
    text-shadow: 0 0 2px var(--white);
    text-align: center;
}

main {
    display: flex;
    padding: 2% 4%;
    border: 1px solid var(--white);
    margin: 2rem;
    border-radius: 5px;

}

.btn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    font-weight: bold;
    transition: color .1s;
    color: var(--dark);
    text-shadow: 0 0 2px var(--white);

}

.btn:hover {
    background: none;
}

.delete-post-btn {
    background-color: #d41414;
}

.delete-post-btn:hover {
    background-color: #ff643d;
}

.card {
    border: .1rem solid var(--mid);
    margin-bottom: 2%;
    box-shadow: 0 0 10px var(--light);
    border-radius: 5px;
}

.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    background-color: var(--light);
    margin: 0;
    padding: .5rem;
    font-size: 100%;
    color: var(--white);
    text-align: center;
}

.card-text {
    background-color: var(--light);
    margin: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
text-align: center;
}

.title span {
    float: right;
}

.edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
}

.comment-form {
    margin-bottom: 5%;
}

.comment-form textarea {
    width: 100%;
}

.comment-form button {
    width: 100%;
    background-color: grey;
    font-size: x-large;
}

.comment {
    padding: 1%;
    margin-bottom: 1%;
}

.comment:nth-child(odd) {
    background-color: #fff5eb;
}

.meta {
    padding: .5rem;
}

.comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    padding: .5rem;
}

.post-section {
    border: .2rem solid black;
}

.post-section h2 {
    background: black;
    margin: 0;
    padding: .5rem;
}

.new-post-form {
    padding: .5rem;
}

/* .new-post-form input {
    width: 100%;
} */

.new-post-form button {
    width: 100%;
    background-color: grey;
}

.edit-post-form {
    margin-bottom: 5%;
}